.overview__container{
    display: flex;
    flex-direction: column;
    width: 100%;

    .toolbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mat-column-name{
        flex: 0 0 20%;
    }

    .mat-column-phone{
        flex: 0 0 20%;
    }
}